DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/signaldb"
JWT_ACCESS_SECRET="change_me"
JWT_REFRESH_SECRET="change_me"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"
PORT=3000
NODE_ENV=development

# Cloudinary — https://console.cloudinary.com/
CLOUDINARY_CLOUD_NAME="dcogmwwzz"
CLOUDINARY_API_KEY="138536164514516"
CLOUDINARY_API_SECRET="7jWuHB4hJIdXkRFkUa9awyfPloM"
